#botonreservar{
    width: max-content;
    margin: 3%;
    padding: 2%;
    justify-content: center;
}
.inputcontacto[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}