#botonreservar{
    width: max-content;
    margin: 3%;
    padding: 2%;
    justify-content: center;
    padding: 10px 20px;
    transition-duration: 1s;
    transition-delay: 1s;
    color: #000000;
}

.inputreserva:hover{
    background-color: #0073e6;
    color: rgb(255, 255, 255);

}
.inputcontacto[type="submit"] {
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 1s;
    transition-delay: 1s;
}
.inputcontacto:hover[type="submit"]{
    background-color: #0073e6;
    color: rgb(255, 255, 255);
}