.logoprincipal {
    width: 15vh;
}
.imagenprincipal{
    display: flex;
    width: 100%;
    height: 100%;
}
.imgrelajacion{

width: 10vh;
border: 1%;
padding: 5%;
}
.imgquiropraxia{

width: 10vh;
border: 1%;
padding: 5%;
}    
.imgfaciales{

width: 10vh;
border: 1%;
padding: 5%;
}
.imgmanosypies{
  
width: 10vh;
border: 1%;
padding: 5%;
}
#imagenprincipaldecontactos{
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 16/3 ;
}
