.titulos {
    text-align: center;
    font-size: xx-large;
    margin: 1rem;
    padding: 1rem;
    font-weight: bolder;
    color:#61c0c3;
}
.subtitulo {
    font-size: x-large;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    text-align: center;
}
.menuItem {
    padding: 5%;
    border: 5%;
    margin-left: 10%;
    font-size: x-large;
}
#contenidonosotros1{
    font-size: x-large;
    text-align: justify;
    margin: 4%;
    padding: 4%;
}
#relajacion, #faciales, #manosypies, #quiropraxia {
    margin: 0% 5% 5% 5%;
    padding: 20px;
    font-size: x-large;
    text-align: justify;
}
