@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: white;
}

.nav {
  width: 100%;
}

.lineaseparadora {
  display: flex;
  border: 4px solid #61c0c3;
  width: 100%;
}

.footer {
  font-size: x-large;
  height: 10vh;
  display: flex;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  padding: 0;
  justify-content: center;
  background-color: #61c0c3;
}
.footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer-t {
  background-color: #61c0c3;
}

#tablaservicios {
  margin-left: 200px;
}

.contenedorreservas {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 50%;
  justify-content: space-around;
}

.grid-itemreservas {
  border: 1px solid #000;
  padding: 20px;
  background-color: #61c0c3;
  width: -moz-max-content;
  width: max-content;
  justify-content: space-around;
  margin: 2%;
}

.contenedorformcontacto {
  width: 30%;
  margin: 2%;
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formulariocontacto {
  margin-top: 1%;
}

.labelcontacto, .inputcontacto, .textareacontacto {
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

.inputcontacto[type=text], .inputcontacto[type=email], .inputcontacto[type=tel] {
  padding: 10px;
}

.textareacontacto {
  height: 20%;
}

.contenedorservicios {
  display: flex;
}

#formularioreservas {
  margin: 0;
  margin-bottom: 6%;
  padding: 0;
  font-size: x-large;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.formulario {
  justify-content: space-around;
  width: 50%;
}

.content-contact {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

.map-container {
  width: 70%;
  margin-bottom: 3%;
}

#map {
  margin-top: 2%;
}

.titulos {
  text-align: center;
  font-size: xx-large;
  margin: 1rem;
  padding: 1rem;
  font-weight: bolder;
  color: #61c0c3;
}

.subtitulo {
  font-size: x-large;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.menuItem {
  padding: 5%;
  border: 5%;
  margin-left: 10%;
  font-size: x-large;
}

#contenidonosotros1 {
  font-size: x-large;
  text-align: justify;
  margin: 4%;
  padding: 4%;
}

#relajacion, #faciales, #manosypies, #quiropraxia {
  margin: 0% 5% 5% 5%;
  padding: 20px;
  font-size: x-large;
  text-align: justify;
}

.logoprincipal {
  width: 15vh;
}

.imagenprincipal {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10;
  animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.imgrelajacion {
  width: 10vh;
  border: 1%;
  padding: 5%;
}

.imgquiropraxia {
  width: 10vh;
  border: 1%;
  padding: 5%;
}

.imgfaciales {
  width: 10vh;
  border: 1%;
  padding: 5%;
}

.imgmanosypies {
  width: 10vh;
  border: 1%;
  padding: 5%;
}

#imagenprincipaldecontactos {
  display: flex;
  width: 100%;
  height: auto;
  aspect-ratio: 16/3;
}

#botonreservar {
  width: -moz-max-content;
  width: max-content;
  margin: 3%;
  padding: 2%;
  justify-content: center;
  padding: 10px 20px;
  transition-duration: 1s;
  transition-delay: 1s;
  color: #000000;
}

.inputreserva:hover {
  background-color: #0073e6;
  color: rgb(255, 255, 255);
}

.inputcontacto[type=submit] {
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
  transition-delay: 1s;
}

.inputcontacto:hover[type=submit] {
  background-color: #0073e6;
  color: rgb(255, 255, 255);
}

@media (max-width: 720px) {
  .inputcontacto[type=submit] {
    width: 100%;
  }
}
@media (max-width: 720px) {
  body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
  }
  #formularioreservas {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .formulario {
    margin: 5%;
  }
  .textareareserva {
    width: 50%;
  }
  .contenedorreservas {
    justify-content: center;
    margin-left: 10%;
  }
}
@media (max-width: 720px) {
  .content-contact {
    flex-direction: column;
  }
  .contenedorformcontacto {
    width: 80%;
    height: 50%;
    margin-left: 10%;
  }
  .map-container {
    width: 80%;
    margin: 10%;
  }
}/*# sourceMappingURL=estilo.css.map */